# Project exclude paths
/target/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Play with Codes\HelloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Others
.idea
*.iml
